/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

body {
  background-color: rgb(31, 30, 34);
  color: #FFF;
  font-family: 'Prompt', sans-serif;
  margin: 0;
}
.error {
  color: #FFF;
  background-color: #F44336;
  padding: 1rem;
  margin: 1rem 0;
}
.success {
  color: #FFF;
  background-color: #4CAF50;
  padding: 1rem;
  margin: 1rem 0;
}
.btn {
  background-color: rgb(87, 145, 221);
  border: 0px solid;
  padding: 5px 15px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  &:hover {
    background-color: rgb(112, 164, 231);
    color: #fff;
  }
}