/* Variables and mixins declared here will be available in all other SCSS files */

$blue: rgb(87, 145, 221);
$yellow: #eaac16;
$dark: #20232a;
$light: #2a2e36;
$fulldark: #131418;
$montserrat: 'Montserrat', sans-serif;
$red: rgb(213, 73, 73);
$green: rgb(133, 202, 108);
$transparent: rgba(12, 13, 16, 0.452);
$radius: 5px;